<?xml version="1.0" encoding="UTF-8"?>
<extentreports>
    <configuration>
        <!-- report theme -->
        <!-- standard, dark -->
        <theme>standard</theme>
    
        <!-- document encoding -->
        <!-- defaults to UTF-8 -->
        <encoding>UTF-8</encoding>
        
        <!-- protocol for script and stylesheets -->
        <!-- defaults to https -->
        <protocol>https</protocol>
        
        <!-- title of the document -->
        <documentTitle>Mesh01 Automation Test</documentTitle>
        
        <!-- report name - displayed at top-nav -->
        <reportName>
	<image  id ="image-zoom">
	   <![CDATA[
               
            ]]>
		</image>

</reportName>
        
        <!-- report headline - displayed at top-nav, after reportHeadline -->
        <reportHeadline>Mesh01 Test Report</reportHeadline>
        
        <!-- global date format override -->
        <!-- defaults to yyyy-MM-dd -->
        <dateFormat>yyyy-MM-dd</dateFormat>
        
        <!-- global time format override -->
        <!-- defaults to HH:mm:ss -->
        <timeFormat>HH:mm:ss</timeFormat>
        
        <!-- custom javascript -->
        <scripts>
            <![CDATA[
                $(document).ready(function() {
                    $("#image-zoom").src("src",src);
                    $("#image-zoom").append("src",src);
                });
            ]]>
        </scripts>
        
        <!-- custom styles -->
        <styles>
            <![CDATA[
                .report-name { padding-left: 7px;display:flex;justify-content:space-between } .report-name > img { float: left; height: 44px;padding:0 10px; margin-left: 53px; margin-top: 2px; background-color : #fff; margin-bottom: 2px; width:auto; }
                .logo-container{ display:none }
                nav{padding-left:0}
                
            ]]>
        </styles>
    </configuration>
</extentreports>